.jp-ReactWidget {
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jp-Auto-icon {
    background-image: url(77377145.png);
}


/* Start CSS of the accordion */

.listofdata {
    overflow-y: scroll;
    max-height: 631px;
    min-height: 377px;
    text-align: left;
    /*  */
}

.discriptionofdata {
    max-height: 200px;
    min-height: 200px;
    vertical-align: bottom;
    overflow-y: scroll;
    padding: 4px;
    /*  */
}

@media only screen and (max-height: 1600px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 1300px;
        min-height: 1300px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1500px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 1125px;
        min-height: 1125px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1400px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 1014px;
        min-height: 1014px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1300px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 933px;
        min-height: 933px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1200px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 860px;
        min-height: 860px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1100px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 751px;
        min-height: 751px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 1000px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 659px;
        min-height: 659px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 900px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 559px;
        min-height: 559px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 800px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 462px;
        min-height: 462px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 700px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 363px;
        min-height: 363px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 600px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 264px;
        min-height: 264px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 500px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 163px;
        min-height: 163px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 400px) {
    .listofdata {
        overflow-y: scroll;
        max-height: 100px;
        min-height: 100px;
        text-align: left;
    }
    .discriptionofdata {
        max-height: 200px;
        min-height: 200px;
        padding: 4px;
        vertical-align: bottom;
        overflow-y: scroll;
    }
}

.copiedtext {
    font-size: 15px;
    position: fixed;
    padding: 13px 0 13px 13px;
    display: none;
    margin-left: 0px;
    width: 30%;
    background-color: #000;
    color: #fff;
}

.formstyle {
    background-color: #bdbdbd;
    padding: 19px 0;
}

.searchText {
    border-radius: 7px;
    padding: 3px;
    margin-right: 10px;
    margin-left: 8px;
}

.btn {
    background: #000;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    border-radius: 7px;
    padding: 3px 13px;
    white-space: nowrap;
    -webkit-transition: background 0.12s cubic-bezier(0.4, 0, 0.2, 1), color 0.12s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.12s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 0.12s cubic-bezier(0.4, 0, 0.2, 1), color 0.12s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.12s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion label {
    display: block;
    background-color: #eeeeee;
    padding: 16px 15px;
    height: 0.7em;
    width: '100%';
    line-height: .5em;
    color: #424242;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #ffffff;
}

.accordion p {
    color: #424242;
    padding: 10px;
    font-size: small;
    line-height: 1.7em;
    opacity: 0;
    display: none;
    text-align: left;
    background-color: #fff;
    margin: 0px;
}

#archive:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#archive {
    display: none;
    position: relative;
}

#browser:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#browser {
    display: none;
    position: relative;
}

#crypto:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#crypto {
    display: none;
    position: relative;
}

#to:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#to {
    display: none;
    position: relative;
}

#database:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#database {
    display: none;
    position: relative;
}

#dialog:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#dialog {
    display: none;
    position: relative;
}

#filesystem:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#filesystem {
    display: none;
    position: relative;
}

#ftp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#ftp {
    display: none;
    position: relative;
}

#http:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#http {
    display: none;
    position: relative;
}

#images:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#images {
    display: none;
    position: relative;
}

#json:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#json {
    display: none;
    position: relative;
}

#netsuite:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#netsuite {
    display: none;
    position: relative;
}

#notifier:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#notifier {
    display: none;
    position: relative;
}

#pdf:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#pdf {
    display: none;
    position: relative;
}

#robot:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#robot {
    display: none;
    position: relative;
}

#salesforce:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#salesforce {
    display: none;
    position: relative;
}

#sap:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#sap {
    display: none;
    position: relative;
}

#slack:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#slack {
    display: none;
    position: relative;
}

#tables:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#tables {
    display: none;
    position: relative;
}

#tasks:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#tasks {
    display: none;
    position: relative;
}

#twitter:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#twitter {
    display: none;
    position: relative;
}

#aws:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#aws {
    display: none;
    position: relative;
}

#azure:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#azure {
    display: none;
    position: relative;
}

#google:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#google {
    display: none;
    position: relative;
}

#decorator:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#decorator {
    display: none;
    position: relative;
}

#geometry:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#geometry {
    display: none;
    position: relative;
}

#helpers:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#helpers {
    display: none;
    position: relative;
}

#locators:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#locators {
    display: none;
    position: relative;
}

#notebook:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#notebook {
    display: none;
    position: relative;
}

#robocorp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#robocorp {
    display: none;
    position: relative;
}

#types:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#types {
    display: none;
    position: relative;
}

#webdriver:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#webdriver {
    display: none;
    position: relative;
}

#clipboard:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#clipboard {
    display: none;
    position: relative;
}

#operatingsystem:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#operatingsystem {
    display: none;
    position: relative;
}

#windows:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#windows {
    display: none;
    position: relative;
}

#exchange:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#exchange {
    display: none;
    position: relative;
}

#imapsmtp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#imapsmtp {
    display: none;
    position: relative;
}

#excelapp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#excelapp {
    display: none;
    position: relative;
}

#files:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#files {
    display: none;
    position: relative;
}

#outlookapp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#outlookapp {
    display: none;
    position: relative;
}

#items:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#items {
    display: none;
    position: relative;
}

#secrets:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#secrets {
    display: none;
    position: relative;
}

#wordapp:checked~.hiddentext {
    display: block;
    opacity: 1;
}

input#wordapp {
    display: none;
    position: relative;
}

.arrow {
    color: #666666;
}

.search-found {
    text-decoration: underline;
}